.history-container {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 66;
}
.history-list {
    max-height: 550px;
    overflow: auto;
}
.history-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/history-icon.svg');
    background-size: cover;
    cursor: pointer;
}

.history-content {
    position: relative;
    top: -30px;
    left: 40px;
    background-color: var(--color5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 500px;
}

.history-content h2 {
    margin-top: 0;
}
.history-content p {
    margin: 8px 0;
}
.history-prompt {
    cursor: pointer;
}
.history-prompt:hover {
    background-color: #616666;
    border: 1px solid black;
    border-radius: 5px;
}