.settings-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 66;
}

.settings-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/settings-icon.svg');
    background-size: cover;
    cursor: pointer;
}

.settings-content {
    position: relative;
    top: -30px;
    left: 40px;
    background-color: var(--color5);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.settings-content h2 {
    margin-top: 0;
}
.characters-list {
    padding: 10px;
    display: flex;
    gap: 6px;
}
.character-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.character-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.character-name {
    margin: 5px;
    width: fit-content;
}